

.Container {

    display: flex;
    
    justify-content: center;
      align-items: center;
      flex-direction: column;
    margin: 25px auto;
    padding-left: 15px;
    padding-right: 15px;
  }